# Bad Data Game Environment Configuration Example
PORT=3000
HOST_IP=192.168.86.36
BASE_URL=http://192.168.86.36:3000

# Text-To-Speech Settings
TTS_PROVIDER=kokoro
KOKORO_VOICE=am_michael
PIPER_VOICE=en_US-ryan-high

# Gen AI Roaster Settings (Optional Google Gemini API Key)
AI_PROVIDER=gemini
GEMINI_API_KEY=
